<body>
    <h1>Edit Item</h1>

    <form method="POST" action="/items/<%= item.id %>/update">
        Name : <input name="name" value="<%= item.name %>" >  <br>
        Price : <input name="price" value="<%= item.price %>"> <br>
        categories :         
        <br>
        <% categories.each_with_index  do |category, index| %>
            <input type="checkbox" name="categories[]" value="<%= category.id %> "  <%= category.is_checked(item.categories) ? 'checked' : '' %> > <%= category.name %> <br> 
        <% end %>
        <br>

        <input value="Update item" type="submit">
    </form>
    

    <br>
    <br>
    <a href="/items" style="margin-right:10;">Back to Item List</a>

</body>
